*{
    margin: 0;
    padding: 0;
}

.bug {
    background-color: #9DC130;
}
.dark{
    background-color: #5F606D;
}
.dragon{
    background-color: #0773C7;
}
.electric{
    background-color: #EDD53F;
}
.fairy{
    background-color: #EF97E6;
}
.fighting{
    background-color: #D94256;
}
.fire{
    background-color: #F8A54F;
}
.flying{
    background-color: #9BB4E8;
}
.ghost{
    background-color: #6970C5;
}
.grass{
    background-color: #5DBE62;
}
.ground{
    background-color: #D78555;
}
.ice{
    background-color: #7ED4C9;
}
.normal{
    background-color: #9A9DA1;
}
.poison{
    background-color: #B563CE;
}
.psychic{
    background-color: #F87C7A;
}
.rock{
    background-color: #CEC18C;
}
.steel{
    background-color: #5596A4;
}
.water{
    background-color: #559EDF;
}
